= form_for(model, url: model.persisted? ? admin.model_path(model.id, m: params[:m]) : admin.models_path(m: params[:m])) do |f|
  
  = f.label :title
  = f.text_field :title

  = f.label :body
  = f.text_area :body

  = f.submit f.object.persisted? ? t('_save') : t('_update')