index.html.haml

%table
  %tr
    %th Id
    %th Title
    %th Created At
    %th Updated At
    %th Actions
  - Post.all.each do |post|
    %tr
      %td= post.id
      %td= post.title
      %td= l post.created_at
      %td= l post.updated_at
      %td
        = link_to 'edit', admin.edit_model_path(post.id, m: post.class.name)
        = link_to 'destroy', admin.model_path(post.id, m: post.class.name)