- #
- #
- #
- columns = (klass.respond_to?(:index_column_names) ? klass.index_column_names : klass.column_names[0..1])

= render layout: 'layout' do

  %table
    %tr
      - columns.each do |column|
        %th= column.humanize
      - if columns.include?('updated_at')
        %th Updated At
      %th Actions
    - @models.each do |model|
      %tr
        - columns.each do |column|
          %td= model.send(column)
        - if model.respond_to?(:updated_at)
          %td= l model.updated_at
        %td
          = link_to 'show', tentacles.model_path(model.id, klass: klass_name)
          = link_to 'edit', tentacles.edit_model_path(model.id, klass: klass_name)
          = link_to 'destroy', tentacles.model_path(model.id, klass: klass_name)

  = paginate @models