= render 'layout' do

  = link_to 'New', tentacles.new_model_path(klass: params[:klass])

  %table
    %tr
      - klass.column_names[0..1].each do |column|
        %th= column.humanize
      %th Updated At
      %th Actions
    - @models.each do |model|
      %tr
        - klass.column_names[0..1].each do |column|
          %td= model.send(column)
        %td= l model.updated_at
        %td
          = link_to 'show', tentacles.model_path(model.id, klass: model.class.name)
          = link_to 'edit', tentacles.edit_model_path(model.id, klass: model.class.name)
          = link_to 'destroy', tentacles.model_path(model.id, klass: model.class.name)