= render 'layout' do
  %table
    %tr
      %th Id
      %th Title
      %th Updated At
      %th Actions
    - Post.all.each do |post|
      %tr
        %td= post.id
        %td= post.title
        %td= l post.updated_at
        %td
          = link_to 'show', tentacles.model_path(post.id, klass: post.class.name)
          = link_to 'edit', tentacles.edit_model_path(post.id, klass: post.class.name)
          = link_to 'destroy', tentacles.model_path(post.id, klass: post.class.name)