= render layout: 'layout' do

  = link_to 'New', tentacles.new_model_path(klass: params[:klass]), class: 'button'

  %table
    %tr
      - klass.column_names[0..1].each do |column|
        %th= column.humanize
      - if klass.column_names.include?('updated_at')
        %th Updated At
      %th Actions
    - @models.each do |model|
      %tr
        - klass.column_names[0..1].each do |column|
          %td= model.send(column)
        - if model.respond_to?(:updated_at)
          %td= l model.updated_at
        %td
          = link_to 'show', tentacles.model_path(model.id, klass: model.class.name)
          = link_to 'edit', tentacles.edit_model_path(model.id, klass: model.class.name)
          = link_to 'destroy', tentacles.model_path(model.id, klass: model.class.name)

  = paginate @models